main{
    height: 550px;
}
.theme{
    text-align: center;
    margin-bottom: 45px;
}
.auth-field{
    background-color: #fbb83e;
    width: 400px;
    border-radius: 30px;
    padding:37px;
}
.auth-margin-email{
    margin-bottom: 18px;
}
.auth-margin-password{
    margin-bottom: 60px;
}

input[type="submit"]{
    width: 150px;
    height: 40px;
    border-radius: 6px;
}
/* .twitter-button{
    background-color: rgb(29, 161, 242);
    color:white;
}
.facebook-button{
    background-color: rgb(58, 89, 152);
    color:white;
} */
.error-messages{
    color:red;
    border-radius:20px;
}